@model SimpsonsSearch.searchEngine.SearchResults;
@{
    ViewData["Title"] = "Results";
}

<div class="container">
    @await Html.PartialAsync("_searchForm", new SimpsonsSearch.Models.SearchformModel())
</div>
<table id="results">
    <tr class="spaceUnder">
        <th scope="col">SceneId</th>
        <th class="Episode" scope="col">Episode</th>
        <th scope="col">Season</th>
        <th scope"col">Timespamp</th>
        <th class="Text" scope="col">Text</th>
        <th class="Actor" scope="col">Location</th>
        <th class="ID" scope="col">Persons</th>
        <th class="Score" scope="col">Score</th>
        <th class="collapse multi-collapse" id="evaluationtable" scope="col">Evaluation</th>
    </tr>
    @foreach (var hit in Model.Hits)
    {

        <tr class="Entry">
            <th> @hit.Id</th>
            <td> Episode: @hit.EpisodeId @hit.episodeName</td>
            <td> @hit.season</td>
            <td>@hit.Timestamp</td>
            <td> @hit.Text</td>
            <td> @hit.Location </td>
            <td> @hit.Person</td>
            <td>@hit.Score</td>
            <td>
                <div>
                    <form class="form-inline " method="post" asp-controller="Search" asp-action="LogGoodResult">
                        <button type="submit" asp-for="hit" class="btn btn-primary">+</button>
                    </form>
                    <form class="form-inline " method="post" asp-controller="Search" asp-action="LogBadResult" asp-for="@hit.Id">
                        <button type="submit" class="btn btn-primary">-</button>
                    </form>
                </div>
            </td>
        </tr>
    }
</table>


