@model SimpsonsSearch.searchEngine.SearchResults;
@{
    ViewData["Title"] = "Results";
}

<div class="container">
    @await Html.PartialAsync("_searchForm", new SimpsonsSearch.Models.SearchformModel())
</div>
<table id="results">
    <tr class="spaceUnder">
        <th scope="col"></th>
        <th scope="col">EpisodeId</th>
        <th scope="col">SceneId</th>
        <th class="Episode" scope="col">Episode</th>
        <th scope="col">Season</th>
        <th scope"col">Timespamp</th>
        <th class="Text" scope="col">Text</th>
        <th class="Actor" scope="col">Location</th>
        <th class="ID" scope="col">Characters</th>
        <th class="Score" scope="col">Score</th>
        <th class="collapse multi-collapse" id="evaluationtable" scope="col">Evaluation</th>
    </tr>

    @{int counter = 0;}
    @foreach (var hit in Model.Hits)
    {
        { counter++; }
        <tr class="Entry">
            <th>@counter </th>
            <th>@hit.EpisodeId</th>
            <th> @hit.Id</th>
            <td>  @hit.EpisodeName</td>
            <td> Season:@hit.Season Episode: @hit.EpisodeInSeason</td>
            <td>@hit.Timestamp</td>
            <td> @hit.Text</td>
            <td> @hit.Location </td>
            <td> @hit.Person</td>
            <td>@hit.Score</td>
            <td>
                <div>
                    <div>
                        <div class="form-inline">
                            <button class="btn btn-warning logging" type="submit" value="@hit.Id" data-value="@Model.TopicName" id="1">+</button>
                        </div>
                        <div class="form-inline">
                            <button class="btn btn-warning logging" type="submit" value="@hit.Id" data-value="@Model.TopicName" id="0">-</button>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
    }
</table>

@section Scripts {

    <script>

        $(document).on('click', '.logging','button[id], button[data-value], button[value]', function (e) {
            e.stopPropagation();
            e.preventDefault();
            var id = $(this).attr("value");
            var TopicName = $(this).attr("data-value");

            var logType = $(this).attr("id");

            var url = "@Url.Action("LogResult")";


            $.post(url, { id: id, TopicName: TopicName, logType: logType }, function () {
                alert("Evaluation successful!")
            });
        });

    </script>
}

