@model SimpsonsSearch.searchEngine.SearchResults;
@{
    ViewData["Title"] = "Results";
}

<div class="container">
    @await Html.PartialAsync("_searchForm", new SimpsonsSearch.Models.SearchformModel())
</div>
<table id="results">
    <tr class="spaceUnder">
        <th scope="col"></th>
        <th scope="col">SceneId</th>
        <th class="Episode" scope="col">Episode</th>
        <th scope="col">Season</th>
        <th scope"col">Timespamp</th>
        <th class="Text" scope="col">Text</th>
        <th class="Actor" scope="col">Location</th>
        <th class="ID" scope="col">Persons</th>
        <th class="Score" scope="col">Score</th>
        <th class="collapse multi-collapse" id="evaluationtable" scope="col">Evaluation</th>
    </tr>

    @{int counter = 0;}
    @foreach (var hit in Model.Hits)
    {
        {counter++;}
        <tr class="Entry">
            <th>@counter </th>
            <th> @hit.Id</th>
            <td>  @hit.EpisodeName</td>
            <td> Season:@hit.Season Episode: @hit.EpisodeInSeason</td>
            <td>@hit.Timestamp</td>
            <td> @hit.Text</td>
            <td> @hit.Location </td>
            <td> @hit.Person</td>
            <td>@hit.Score</td>
            <td>
                <div>
                    <form class="form-inline " method="post" asp-controller="Search" asp-action="LogGoodResult" asp-route-id="@hit.Id">
                        <button type="submit" class="btn btn-warning">+</button>
                    </form>
                    <form class="form-inline " method="post" asp-controller="Search" asp-action="LogBadResult" @*asp-route-id="@hit.Id" *@>
                        <button type="submit" class="btn btn-warning">-</button>
                    </form>
                </div>
            </td>
        </tr>
    }
</table>




